:root {
  --primary: #111e6c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button,
button:focus {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  overflow: hidden;
}

.main-container.light-mode {
  background: #f7f7f7;
  --primary: #111e6c;
  --secondary: #fff;
  --toggle: #fff;
}

.main-container.dark-mode {
  background: #11131b;
  --primary: #f7f7f7;
  --secondary: #111e6c;
}

.main-container.dark-mode .bulk-container {
  background: #25262b;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "heading heading heading"
    ". bulkCont ."
    "footer footer footer";
}

.heading {
  grid-area: heading;
  width: 90%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 700;
}

.heading div,
.heading div p {
  font-size: 1.25rem;
  color: var(--primary);
  text-align: center;
}

.heading div p:first-child {
  opacity: 0.6;
}

.bulk-container {
  grid-area: bulkCont;
  position: relative;
  margin: auto auto;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.timer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.music {
  display: none;
}

.bulk-container.active {
  max-width: 700px;
}

.bulk-container.active .timer {
  width: 60%;
  border-radius: 20px 0 0 20px;
}

.bulk-container.active .music {
  width: 40%;
  height: 100%;
  display: flex;
  border-radius: 0 20px 20px 0;
}

#toggle {
  position: absolute;
  top: 36px;
  right: 40px;
  font-family: inherit;
  border: 0;
  min-width: 10px;
  max-width: 15px;
  width: 100%;
  color: var(--primary);
  background: none;
  opacity: 0.6;
  cursor: pointer;
}

#toggle i {
  font-size: 1.75rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  grid-area: footer;
  width: 100%;
  padding: 30px;
}

.footer p {
  color: #707891;
  font-size: 1.25rem;
}

.footer span a {
  text-decoration: none;
  color: var(--primary);
}
.footer i,
.footer #settings i {
  font-size: 2rem;
  color: var(--primary);
  cursor: pointer;
}

.footer i:first-child {
  color: #ccc;
}

@media only screen and (max-width: 1366px) {
  :root {
    font-size: 14px;
  }

  .bulk-container {
    max-width: 330px;
    max-height: 330px;
  }

  .bulk-container.active {
    max-width: 600px;
  }
}

@media (prefers-color-scheme: dark) {
  .main-container {
    background: #f00;
  }
}
